<!-- search bar、sort function -->
<div class="container">
  <div class="dropdown">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/homeproperty">家居物業</a></li>
      <li><a class="dropdown-item" href="/transportation">交通出行</a></li>
      <li><a class="dropdown-item" href="/entertainment">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/food">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/others">其他</a></li>
    </ul>
  </div>

  <h2 class="total_cost">總金額: {{total_cost}}</h2>

  <div class="cost_list">
    {{#each records}}
    <div class="cost_item">
      {{!-- 需要補圖 --}}
      <img src="{{icon_url}}" alt="">
      <div class="cost_detail">
        <h3 class="cost_name">{{this.name}}</h3>
        <h5 class="cost_date">{{this.date}}</h5>
      </div>
      <h2 class="cost_price">{{this.amount}}</h2>
      <div class="btn_list">
        <a href="./records/{{this._id}}/edit" style="display: inline-block; margin-right: 15px;"
          class="btn btn-secondary">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST"
          style="display: inline-block; margin-right: 20px;">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>

</div>